In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Normalize features for population data

In [64]:
pop_data = pd.read_csv("../data/population_data.csv")
pop_data.head()

,state_name,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Alabama,3444354.0,3497000.0,3540000.0,3581000.0,3628000.0,3680000.0,3737000.0,3783000.0,3834000.0,...,4708708.0,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871
1,Alaska,302583.0,316000.0,326000.0,333000.0,345000.0,371000.0,393000.0,397000.0,402000.0,...,698473.0,713906,722038,730399,737045,736307,737547,741504,739786,737438
2,Arizona,1775399.0,1896000.0,2009000.0,2125000.0,2224000.0,2286000.0,2348000.0,2427000.0,2518000.0,...,6595778.0,6407774,6473497,6556629,6634999,6733840,6833596,6945452,7048876,7171646
3,Arkansas,1923322.0,1972000.0,2018000.0,2058000.0,2100000.0,2158000.0,2169000.0,2207000.0,2241000.0,...,2889450.0,2921978,2940407,2952109,2959549,2967726,2978407,2990410,3002997,3013825
4,California,19971071.0,20346000.0,20585000.0,20868000.0,21173000.0,21537000.0,21934000.0,22350000.0,22839000.0,...,36961664.0,37320903,37641823,37960782,38280824,38625139,38953142,39209127,39399349,39557045

In [65]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

states = {v: k for k, v in states.items()}

def convert_to_state_code(state_name):
    if state_name in states:
        return states[state_name]
    else:
        return None

In [66]:
feat_matrix = pd.read_csv("feat_matrix.csv")
pop_data["state_code"] = pop_data["state_name"].apply(convert_to_state_code)
pop_data = pop_data.set_index("state_code")

response = pd.read_pickle("cleaned_seds.pd")
response = response[response["energy_bin"] == "Renewable"].drop(["energy_code", "state_name", "description", 
                                                      "energy_bin", "energy_source", "sector", "value_unit"], axis=1)
response.head()

      year state_code           btu
1388  1960         AK  3.681000e+12
1389  1961         AK  4.145000e+12
1390  1962         AK  4.246000e+12
1391  1963         AK  4.383000e+12
1392  1964         AK  4.728000e+12

In [67]:
def get_pop(year, state):
    return pop_data[str(year)][state]

In [96]:
feat_matrix = pd.read_csv("feat_matrix.csv")
feat_matrix_norm = pd.DataFrame(columns=["year", "state_code", "residential", "commercial", "industrial", "transportation"])
response_norm = pd.DataFrame(columns=["year", "state_code", "btu"])

for year in feat_matrix.year.unique():
    
    for state in feat_matrix.state_code.unique():
        
        if state == "DC" or state=="US":
            continue
            
        row = feat_matrix[(feat_matrix["year"] == year) & (feat_matrix["state_code"] == state)]
        pop = get_pop(year, state)
        res = row["residential"] / pop
        trans = row["transportation"] / pop
        indus = row["industrial"] / pop
        commercial = row["commercial"] / pop
        series = pd.DataFrame({"year": year+1, "state_code":state,
                                "residential":res, "transportation": trans, 
                                 "industrial": indus, "commercial": commercial})
        feat_matrix_norm = feat_matrix_norm.append(series)
        
        res_row = response[(response["year"] == year) & (response["state_code"] == state)]
        btu = np.log(res_row["btu"] / pop)
        
        res_ser = pd.DataFrame({"year":year, "state_code":state, "btu":btu})
        response_norm = response_norm.append(res_ser)

In [97]:
response_norm = response_norm.groupby(["state_code", "year"]).sum()
response_norm

                        btu
state_code year
AK         1990  469.734148
           1991  468.210672
           1992  476.524850
           1993  476.750869
           1994  515.795963
           1995  570.350098
           1996  574.653449
           1997  556.673382
           1998  513.718228
           1999  470.343560
           2000  466.270026
           2001  527.654626
           2002  535.345074
           2003  490.276840
           2004  513.116494
           2005  440.328453
           2006  441.756799
           2007  444.537595
           2008  442.547663
           2009  487.445596
           2010  489.117946
           2011  491.515815
           2012  494.056344
           2013  522.735221
           2014  525.167839
           2015  522.147038
           2016  606.885821
AL         1990  597.275864
           1991  595.909378
           1992  599.774111
...                     ...
WV         2014  735.305464
           2015  740.799704
           2016  720.191668
WY         1990  530.363001
           1991  550.291440
           1992  545.993985
           1993  535.415583
           1994  582.168894
           1995  569.160754
           1996  543.736524
           1997  516.908121
           1998  508.989710
           1999  523.509762
           2000  535.715332
           2001  551.959988
           2002  551.063798
           2003  551.459872
           2004  553.579397
           2005  671.658350
           2006  647.193404
           2007  650.948170
           2008  659.464573
           2009  655.316961
           2010  660.439972
           2011  683.831755
           2012  717.952329
           2013  734.038365
           2014  733.622614
           2015  734.275334
           2016  693.325794

[1350 rows x 1 columns]

In [98]:
feat_matrix_norm = feat_matrix_norm.set_index(["state_code", "year"])

In [99]:
# feat_matrix_norm = feat_matrix_norm.set_index(["state_code", "year"])
merged = feat_matrix_norm.merge(response_norm, right_index=True, left_index=True, how="inner")

In [100]:
merged

                 commercial  industrial  residential  transportation  \
state_code year
AK         1991    0.321167    0.065640     0.303726             NaN
           1992    0.326494    0.067235     0.300536             NaN
           1993    0.327595    0.066525     0.302422             NaN
           1994    0.329823    0.068765     0.304196             NaN
           1995    0.346661    0.071246     0.318141             NaN
           1996    0.349048    0.076154     0.320041             NaN
           1997    0.356171    0.081760     0.331714             NaN
           1998    0.340506    0.092871     0.324314             NaN
           1999    0.355319    0.095290     0.330433             NaN
           2000    0.354289    0.099653     0.336044             NaN
           2001    0.348322    0.124969     0.338605             NaN
           2002    0.371781    0.129760     0.361856             NaN
           2003    0.352877    0.129491     0.362179             NaN
           2004    0.398547    0.133311     0.365756        0.000000
           2005    0.431894    0.141813     0.387656        0.000000
           2006    0.465172    0.160485     0.409495        0.000000
           2007    0.496444    0.211762     0.464146        0.000000
           2008    0.505196    0.256199     0.470430        0.000000
           2009    0.565458    0.276892     0.512400        0.000000
           2010    0.588215    0.246846     0.519625        0.000000
           2011    0.552779    0.262345     0.476729        0.000000
           2012    0.596836    0.289506     0.520755        0.000000
           2013    0.587558    0.318080     0.528894        0.000000
           2014    0.596988    0.287851     0.517175        0.000000
           2015    0.641143    0.289265     0.531121        0.000000
           2016    0.653299    0.266172     0.549484        0.000000
AL         1991    0.182301    0.296213     0.337429             NaN
           1992    0.188950    0.299063     0.348259             NaN
           1993    0.180676    0.305343     0.341463             NaN
           1994    0.186082    0.315870     0.368272             NaN
...                     ...         ...          ...             ...
WV         2013    0.352078    0.404111     0.593878        0.000194
           2014    0.343319    0.402042     0.595026        0.000187
           2015    0.340351    0.407190     0.605417        0.000000
           2016    0.364653    0.432044     0.626138        0.000000
WY         1991    0.248054    0.592056     0.226499             NaN
           1992    0.262230    0.571293     0.238614             NaN
           1993    0.261902    0.565217     0.231377             NaN
           1994    0.268002    0.549230     0.242235             NaN
           1995    0.256799    0.536163     0.237110             NaN
           1996    0.248864    0.498686     0.247043             NaN
           1997    0.256746    0.494664     0.258036             NaN
           1998    0.262889    0.519858     0.260252             NaN
           1999    0.272549    0.490014     0.263315             NaN
           2000    0.276765    0.491405     0.267599             NaN
           2001    0.294057    0.497307     0.276499             NaN
           2002    0.319922    0.536508     0.294727             NaN
           2003    0.347489    0.531936     0.313027             NaN
           2004    0.377671    0.562502     0.322415        0.000000
           2005    0.403513    0.612577     0.324310        0.000000
           2006    0.457838    0.631091     0.351018        0.000000
           2007    0.503938    0.659013     0.372778        0.000000
           2008    0.503000    0.684573     0.383884        0.000000
           2009    0.555228    0.802336     0.419013        0.000000
           2010    0.573669    0.848599     0.428622        0.000000
           2011    0.567130    0.888043     0.423747        0.000000
           2012    0.592078    0.978642     0.450022        0.000000
           2013    0.607049    1.046922     0.464203        0.000000
           2014    0.598722    1.120181     0.493676        0.000000
           2015    0.609900    1.177992     0.495889        0.000000
           2016    0.611268    1.191088     0.501166        0.000000

                        btu
state_code year
AK         1991  468.210672
           1992  476.524850
           1993  476.750869
           1994  515.795963
           1995  570.350098
           1996  574.653449
           1997  556.673382
           1998  513.718228
           1999  470.343560
           2000  466.270026
           2001  527.654626
           2002  535.345074
           2003  490.276840
           2004  513.116494
           2005  440.328453
           2006  441.756799
           2007  444.537595
           2008  442.547663
           2009  487.445596
           2010  489.117946
           2011  491.515815
           2012  494.056344
           2013  522.735221
           2014  525.167839
           2015  522.147038
           2016  606.885821
AL         1991  595.909378
           1992  599.774111
           1993  584.723019
           1994  588.602670
...                     ...
WV         2013  738.181484
           2014  735.305464
           2015  740.799704
           2016  720.191668
WY         1991  550.291440
           1992  545.993985
           1993  535.415583
           1994  582.168894
           1995  569.160754
           1996  543.736524
           1997  516.908121
           1998  508.989710
           1999  523.509762
           2000  535.715332
           2001  551.959988
           2002  551.063798
           2003  551.459872
           2004  553.579397
           2005  671.658350
           2006  647.193404
           2007  650.948170
           2008  659.464573
           2009  655.316961
           2010  660.439972
           2011  683.831755
           2012  717.952329
           2013  734.038365
           2014  733.622614
           2015  734.275334
           2016  693.325794

[1300 rows x 5 columns]

In [101]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [103]:
x_data = merged[["residential", "industrial", "commercial"]]
y_data = merged["btu"]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=.15)
model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print(model.coef_)

print("MSE: {}".format(mean_squared_error(y_test, y_pred)))
print("R^2 Score: {}".format(model.score(x_test, y_test)))

[ 131.98847526  -67.07330085  154.61194481]
MSE: 13724.09741725975
R^2 Score: 0.04084325253300081